<meta charset="UTF-8">
<title>Submit Form</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<style>

.jumbotron .white{
    background-color: #fff;
}

/*Text*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600);
.program-text{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
}
.text {
  position: relative;
  width: 500px;
  left: 50%;
  margin-left: -320px;
  height: 40px;
  top: 50%;
  margin-top: -20px;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.wisteria {
  color: #8e44ad;
}

.belize {
  color: #2980b9;
}

.pomegranate {
  color: #c0392b;
}

.green {
  color: #16a085;
}

.midnight {
  color: #2c3e50;
}

/*Animated Text Fill*/
.animated-text-fill p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5em;
  display: inline-block;
  border: 4px double rgba(255, 255, 255, 0.25);
  border-width: 4px 0;
  padding: 1.5em 0em;
  position: absolute;
  top: 18%;
  left: 50%;
  width: 40em;
  margin: 0 0 0 -20em;
}
.animated-text-fill span{
  text-align: center;
  font: 700 4em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);
  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}
hr {
  margin-left: auto;
  margin-right: auto;
  background-color:#6600ff;
  opacity: 0.5;
}
@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
body{
    background: #333;
    text-align: center;
}
/* Cute Face */
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}
#face-button-div {
  margin-top: 8%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
  margin: 0;
  min-height: 30vh;
  background: #fbf6e6;
  border-radius: 30%;
}
#container {
  display: -webkit-box;
  -webkit-box-align: center; 
        align-items: center;
  -webkit-box-pack: center;
        justify-content: center;
  width: 6.25rem;
  height: 6.25rem;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
}
button.face-button {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  background: #fdda5f;
  box-shadow: inset 2px -4px 18px #fd9744;
}

.face-container {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  margin: auto;
}

.eye {
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  background: #2a2927;
  border-radius: 50%;
  -webkit-animation: eyeBlink 3200ms linear infinite;
          animation: eyeBlink 3200ms linear infinite;
}
.eye.left {
  left: 0;
}
.eye.right {
  left: 2rem;
}

.mouth {
  position: absolute;
  top: 1.125rem;
  left: 0.8rem;
  width: 1rem;
  height: 0.125rem;
  background: #2a2927;
  border-radius: 0;
}

.eye, .mouth {
  box-shadow: inset 1px 2px 4px #121110;
}

.face-button:hover .mouth,
.face-button:active .mouth {
  left: 1rem;
  width: 0.5rem;
  height: 0.4rem;
  border-radius: 1rem 1rem 0.125rem 0.125rem;
}

.face-button:hover .eye,
.face-button:active .eye {
  height: 0.375rem;
  width: 0.375rem;
  box-shadow: 0 0 0 0.25rem #fff;
}

@-webkit-keyframes eyeBlink {
  0%, 30%, 36%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  32%, 34% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
}

@keyframes eyeBlink {
  0%, 30%, 36%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  32%, 34% {
    -webkit-transform: scale(1, 0);
            transform: scale(1, 0);
  }
}

</style>