<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head_music'); -%>
        
    </head>
    <body class="container">
        <header>
            <%- include('../partials/header'); -%>
        </header>

        <main>
            <div class="jumbotron">
                <center>
                <h2>Turn up the music!</h2>
                <div class="container--center">
                    <div class="dancing-pug">
                        <ul class = "ul-dance">
                            <li class="ear ear1"></li>
                            <li class="ear ear2"></li>
                            <li class="eye eye1"></li>
                            <li class="eye eye2"></li>
                            <li class="last-li"></li>
                        </ul>
                    </div>
                </div>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/XdVjneoZQ-A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="circle-container">
                    <div class='circles'>
                        <div class='bigCircles'>
                          <div class='bigDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                          <div class='bigDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                          <div class='bigDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                          <div class='bigDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                          <div class='bigDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                          <div class='bigDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                          <div class='bigDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                          <div class='bigDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                        </div>
                        <div class='smallCircles'>
                          <div class='smallDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                          <div class='smallDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                          <div class='smallDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                          <div class='smallDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                          <div class='smallDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                          <div class='smallDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                          <div class='smallDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                          <div class='smallDots'>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                            <div class='dot'></div>
                          </div>
                        </div>
                      </div>    
                </div>
                              
            </center>
            </div>
          
        </main>

        <footer>
            <%- include('../partials/footer'); -%>
        </footer>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>